<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>action</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="contacts">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Contacts</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="photos">
        <ion-icon name="images"></ion-icon>
        <ion-label>Photos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
