<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>dashboard </ion-title>
    <ion-label>Welcome {{name}}</ion-label>
    <ion-button (click)='logout()'>Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)='getDInfo()'>Check device info</ion-button>
  <ion-button (click)='getBInfo()'>Check batery info</ion-button>
  <ion-item *ngFor="let i of infoD">
    {{i}}
  </ion-item>
  <ion-item *ngFor="let i of info">
    {{i}}
  </ion-item>
</ion-content>
