<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="LoginForm">
    <ion-item class="form-group">
      <ion-input required   class="form-control" type="text" name="uid" formControlName="uid" placeholder="Enter UserID"></ion-input>
    </ion-item>
    <span class="form-text text-danger font-weight-bold"
    *ngIf="LoginForm.controls.uid.touched && LoginForm.controls.uid.errors && LoginForm.controls.uid.errors.required"
    > Please Enter UserID</span>

    <span class="form-text text-danger font-weight-bold"
      *ngIf="LoginForm.controls.uid.touched && LoginForm.controls.uid.errors && LoginForm.controls.uid.errors.minlength"
    > UserID must be 6 digit</span>

    <ion-item class="form-group">
      <ion-input  required   class="form-control" type="password" name="password" formControlName="password" placeholder="Enter Password"></ion-input>
    </ion-item>
    <span class="form-text text-danger font-weight-bold"
    *ngIf="LoginForm.controls.password.touched && LoginForm.controls.password.errors && LoginForm.controls.password.errors.required"
    > Please Enter Password</span>
    <span class="form-text text-danger font-weight-bold"
    *ngIf="LoginForm.controls.password.touched && LoginForm.controls.password.errors && LoginForm.controls.password.errors.minlength"
    > Password must be 8 character</span>

    <ion-row>
      <ion-col class="form-group">
        <ion-button type="submit" color="primary" expand="block" (click)='gotoDashboard()' >Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content> 
